<!doctype html>
<html>
<head>
    <title>{{ title if title else "Cipher Selector" }}</title>

    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='cyber.js') }}" defer></script>
</head>
<body>

<div class="cyber-grid"></div>

<div class="main-container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
